Node_Red_Flow_Accontrol.txt
[
    {
        "id": "2626584b.c3a4f8",
        "type": "ui_gauge",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "bc571ba2.cb1408",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius degree",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c5eda2b.ff15a4",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/TempratureGreenhouse",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "b6427723.bd8838",
                "2626584b.c3a4f8"
            ]
        ]
    },
    {
        "id": "b6427723.bd8838",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd360cb0.6cec3",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/HumidityGreenhouse",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "9b355ad3.da55f8",
                "a36c4f79.fa841"
            ]
        ]
    },
    {
        "id": "9b355ad3.da55f8",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "a36c4f79.fa841",
        "type": "ui_gauge",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "bc571ba2.cb1408",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "de2e055.88241f8",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/TempratureEquipmentroom",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "501a57b5.b2fdb8",
                "2d69ce87.9485e2"
            ]
        ]
    },
    {
        "id": "501a57b5.b2fdb8",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "b1acdae3.617578",
        "type": "ui_button",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "f7b2acf8.11816",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Auto",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "33bd7217.2677de",
                "efa8baff.5d40f8"
            ]
        ]
    },
    {
        "id": "33bd7217.2677de",
        "type": "mqtt out",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Mode",
        "qos": "",
        "retain": "",
        "broker": "a5bd7de0.1db0b",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "4a797f62.37b85",
        "type": "ui_button",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "f7b2acf8.11816",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "HEAT",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 90,
        "y": 820,
        "wires": [
            [
                "fe48220f.05fa6",
                "1352705b.da66e"
            ]
        ]
    },
    {
        "id": "fe48220f.05fa6",
        "type": "mqtt out",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Mode",
        "qos": "",
        "retain": "",
        "broker": "a5bd7de0.1db0b",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "fa3c0772.227898",
        "type": "ui_button",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "f7b2acf8.11816",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "COOL",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "1e2d03bc.bb02cc",
                "799fd928.e28df8"
            ]
        ]
    },
    {
        "id": "1e2d03bc.bb02cc",
        "type": "mqtt out",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Mode",
        "qos": "",
        "retain": "",
        "broker": "a5bd7de0.1db0b",
        "x": 680,
        "y": 940,
        "wires": []
    },
    {
        "id": "ae63ce66.ae728",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/Heat",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "744fd3ea.dd232c",
                "39027fa9.2d032"
            ]
        ]
    },
    {
        "id": "ecc9284d.8b1448",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/Cool",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d23ae214.b0ce2",
                "a70baf07.449a4"
            ]
        ]
    },
    {
        "id": "744fd3ea.dd232c",
        "type": "ui_text",
        "z": "74cdc253.e4c35c",
        "group": "65a852b8.02958c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HEAT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "d23ae214.b0ce2",
        "type": "ui_text",
        "z": "74cdc253.e4c35c",
        "group": "65a852b8.02958c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "COOL",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "438a73ed.e268fc",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/RFID",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "d4135e38.554c9",
                "20d21897.657698",
                "eb659228.dae8d"
            ]
        ]
    },
    {
        "id": "d4135e38.554c9",
        "type": "ui_text",
        "z": "74cdc253.e4c35c",
        "group": "f22ce4ef.ebd7a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LAST RFID#",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 600,
        "wires": []
    },
    {
        "id": "20d21897.657698",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "39027fa9.2d032",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "a70baf07.449a4",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "efa8baff.5d40f8",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "1352705b.da66e",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "799fd928.e28df8",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2d69ce87.9485e2",
        "type": "ui_gauge",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "de91e4a8.9e0568",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius degree",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e04eb2f.68bd88",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/Mode",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "157f245b.376a2c",
                "f4d026ef.a52f88"
            ]
        ]
    },
    {
        "id": "157f245b.376a2c",
        "type": "ui_text",
        "z": "74cdc253.e4c35c",
        "group": "65a852b8.02958c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "f4d026ef.a52f88",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "92d8569.e9635a8",
        "type": "mqtt in",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Status/Sensor",
        "qos": "2",
        "broker": "a5bd7de0.1db0b",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "477f5e61.5a0a4",
                "ef709e6c.cd86a"
            ]
        ]
    },
    {
        "id": "477f5e61.5a0a4",
        "type": "ui_text",
        "z": "74cdc253.e4c35c",
        "group": "65a852b8.02958c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SENSOR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef709e6c.cd86a",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "1b15e10e.e8e51f",
        "type": "ui_button",
        "z": "74cdc253.e4c35c",
        "name": "",
        "group": "f7b2acf8.11816",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "69e60b7b.95c6f4",
                "4d97a803.65fdd8"
            ]
        ]
    },
    {
        "id": "69e60b7b.95c6f4",
        "type": "mqtt out",
        "z": "74cdc253.e4c35c",
        "name": "",
        "topic": "AcControl/Mode",
        "qos": "",
        "retain": "",
        "broker": "a5bd7de0.1db0b",
        "x": 680,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4d97a803.65fdd8",
        "type": "debug",
        "z": "74cdc253.e4c35c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1100,
        "wires": []
    },
    {
        "id": "eb659228.dae8d",
        "type": "function",
        "z": "74cdc253.e4c35c",
        "name": "RFID_Function",
        "func": "var listRFID=context.get('listRFID') || \"<hr>\";\nvar timeRFIDscan= Date();\ntimeRFIDscan=timeRFIDscan.toLocaleString();\nmsg.payload =\"<hr>\" + \"RFID#:\" + msg.payload + \"<br>\" + timeRFIDscan + listRFID; \ncontext.set('listRFID', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "a0e4c60f.e71dd8"
            ]
        ]
    },
    {
        "id": "a0e4c60f.e71dd8",
        "type": "ui_template",
        "z": "74cdc253.e4c35c",
        "group": "f22ce4ef.ebd7a8",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "7",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "bc571ba2.cb1408",
        "type": "ui_group",
        "z": "",
        "name": "Greenhouse",
        "tab": "ed1d65e5.be8dd8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5bd7de0.1db0b",
        "type": "mqtt-broker",
        "z": "",
        "name": "AC_Control_Server:1883",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f7b2acf8.11816",
        "type": "ui_group",
        "z": "",
        "name": "Set AC Modus",
        "tab": "ed1d65e5.be8dd8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65a852b8.02958c",
        "type": "ui_group",
        "z": "",
        "name": "AC Status",
        "tab": "ed1d65e5.be8dd8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f22ce4ef.ebd7a8",
        "type": "ui_group",
        "z": "",
        "name": "Entrance Control",
        "tab": "ed1d65e5.be8dd8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de91e4a8.9e0568",
        "type": "ui_group",
        "z": "",
        "name": "Equipment room",
        "tab": "ed1d65e5.be8dd8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ed1d65e5.be8dd8",
        "type": "ui_tab",
        "z": "",
        "name": "AC Control Dashboard",
        "icon": "dashboard"
    }
]